main {
  margin: 0 7rem;
}

.text-content {
  margin: 2rem 10%;
}

.title {
  font-size: 2.3rem;
  font-family: var(--cambon);
}

.dot {
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}
.author-date {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--ayer);
  font-style: italic;
  font-size: 1.5rem;
  padding: 5px;
}
.blog-image {
  margin: 2rem auto;
  width: 80%;
  max-height: 40rem;
}

.content {
  margin: 2rem 10%;
  font-family: var(--cambon);
  font-size: 1.1rem;
}
